@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap");
@import '/vendor/filament/filament/resources/css/theme.css';

@source '../../../views/**/*.blade.php';
@source '../../../js/**/*.js';
@source '../../../../app/Filament/**/*.php';
@source '../../../../vendor/filament/**/*.blade.php';
@source '../../../../vendor/filament/**/*.php';

@theme {
    --color-primary:           #890f00;
    --color-on-primary:        #ffffff;
    --color-primary-fixed:     #ffdad3;
    --color-secondary:         #006c47;
    --color-secondary-cont:    #82f9be;
    --color-on-secondary-cont: #00734c;
    --color-surface:           #f8f9fb;
    --color-surface-low:       #f3f4f6;
    --color-surface-cont:      #edeef0;
    --color-surface-high:      #e7e8ea;
    --color-on-surface:        #191c1e;
    --color-on-surface-var:    #434654;
    --color-outline:           #737685;
    --color-error:             #ba1a1a;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
.mat-fill { font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.fi-page-content { padding: 0 !important; }
